@{
    ViewBag.Title = "Upgrade Your Browser";
}

<h3>
  Your Internet Explorer is Outdated</h3>
  <div class="warning">Your version of Internet Explorer is a bit too old and unfortunately won't work well with this site.</div>
  <ul>
  <li>If you have FireFox, Safari, or Google Chrome already on your computer use one of them for this application instead.</li>
  <li>Upgrade to the <a href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx">latest Internet Explorer.</a>  You can download and install right away.  Even Microsoft recommends you do this.</li>
  <li>Download an Internet Explorer alternative.  We recommend <a href="http://www.mozilla.com/en-US/firefox/firefox.html">FireFox</a>, <a href="http://www.apple.com/safari/download/">Safari</a>, or <a href="http://www.google.com/chrome">Google Chrome</a>.</li>
  </ul>
