<div class="hero-unit">
  <img src="@Url.Content("~/Content/images/spc_logo.png")" alt="spc_logo" style="float:left; margin-right: 10px; margin-left: 10px; "/>
  <h1>TUFMAN VMS Reconciliation</h1>
  <p>You have been logged out due to security issue. Please login again and contact SPC if this error happens again</p>
  <br />
  <br />
  <br />
  <br />
  <p>
    <a class="btn btn-primary btn-large" href="@Url.Action("Index", "VmsTufmanRecon")">
      Back to main page
          </a>
  </p>