<html>

	<head>
		<title>SPC -  VMS-Tufman Reconciliation - Reset your password</title>
	</head>
	<body>

		<h3>Hi $name</h3>

		<p>
			You password has been re-initialized. It is now 
		</p>

		<p>
			$password
		</p>

		<p>
			Please feel free to send your feedback to this new application to brunod@spc.int
		</p>
	</body>

</html>