<html>

	<head>
		<title>SPC - Welcome to the VMS-Tufman Reconciliation</title>
	</head>
	<body>

		<h3>Hi $name</h3>

		<p>
			Your account to access the SPC VMS-Tufman reconciliation web application has been created.<br/>
			You can now connect to <a href="http://noufameeweb01.spc.external/recon">the application</a> and login with the following
			password: $password<br/>
			You can change it by clicking on your name on the top right corner and select <b>manage</b>
		</p>
			
		<p>
			Please feel free to send your feedback to this new application to brunod@spc.int, any suggestion
			is welcome
		</p>
	</body>

</html>