<html>

	<head>
		<title>SPC -  VMS-Tufman Reconciliation - Reset your password</title>
	</head>
	<body>

		<h3>Hi $name</h3>

		<p>
			Please follow this link in order to reset your password
		</p>

		<p>
			http://noufameeweb01.spc.external/recon/Account/ResetPassword?token=$token
		</p>

			
		<p>
			Please feel free to send your feedback to this new application to brunod@spc.int
		</p>
	</body>

</html>