<div class="accordion" id="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                How can I have a username and a password to access this application? </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                The TUFMAN-VMS Reconciliation application extensively uses confidential data.
                <br />
                That is the reason why it is protected with a login and a password.
                <br />
                To request an access, you should sent an <a href="mailto:brunod@spc.int">email</a>
                and specify your country.
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                My question is not listed </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
                Please send us an <a href="mailto:brunod@spc.int">email</a> with your question,
                and we will get back to you.
            </div>
        </div>
    </div>
</div>
