<script type="text/javascript">
    
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>

@{
    ViewBag.Title = "Faq";
}
<div>
    <ul id="myTab" class="nav nav-tabs">
        <li><a href="#userManagement" data-toggle="tab">User Management</a></li>
        <li><a href="#filters" data-toggle="tab">Filters</a></li>
        <li><a href="#detailedReport" data-toggle="tab">Detailed Report</a></li>
        <li><a href="#coverageReport" data-toggle="tab">Coverage Report</a></li>
    </ul>
</div>

<div class="tab-content">
  <div class="tab-pane" id="userManagement">@Html.Partial("FAQs/_UserManagement")</div>
  <div class="tab-pane fade" id="home">tata</div>
  <div class="tab-pane fade" id="detailedReport">@Html.Partial("FAQs/_DetailedReport")</div>
</div>

@*<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="userManagement">
        @Html.Partial("FAQs/_UserManagement")
        
    </div>
    <div class="tab-pane fade" id="detailedReport">
    @Html.Partial("FAQs/_DetailedReport")
    </div>
</div>*@
@*<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Why do I have trips with 0 days?
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        In order to be listed in the reconciliation report, a VMS trip must follow the two following rules:<br />
        - the vessel must be licensed to fishe during the trip<br />
        - the trip must take place at some point within you EEZ<br />
        <br />
        However, the transit days are removed from the column VMS NB DAYS. So a licensed vessel transiting only through your EEZ during a trip will have its NB VMS DAYS at 0.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Some vessels are missing from my National Fleet
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Vessels are flagged as National Fleet in your TUFMAN system. If they are missing from the reconciliation, it means that they are not flagged accurately in TUFMAN.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        My question is not listed
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        Please send us an  <a href="mailto:brunod@spc.int">email</a> with your question, and we will get back to you.
      </div>
    </div>
  </div>
</div>*@
