@{
    ViewBag.Title = "Main";
    }
<div class="hero-unit">

  <img src="@Url.Content("~/Content/images/spc_logo.png")" alt="spc_logo" style="float:left; margin-right: 10px; margin-left: 10px; "/>
  <h1>TUFMAN VMS Reconciliation</h1>
  <p>Welcome to the TUFMAN VMS Reconciliation application, where you will be able to check online your missing logsheets, your coverage rate, and try to fill the gaps !</p>
  <br />
  <br />
  <br />
  <br />
  <p>
    <a class="btn btn-primary btn-large pull-right" href="@Url.Action("Index", "VmsTufmanRecon")">
      Start !
    </a>
  </p>
</div>